<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="../styles/soporte-styles.css">
    <link rel="icon" href="../images/logo_app.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <h1>¿Necesitas Ayuda?</h1>
    </header>

    <div class="container">
        <p class="description">
            Si tienes problemas con tu cuenta en nuestra página, no dudes en pedir ayuda a nuestros desarrolladores. Estamos aquí para asistirte y asegurarnos de que puedas disfrutar de todas las funcionalidades sin inconvenientes. Simplemente contáctanos y resolveremos tu problema lo más pronto posible. ¡Tu experiencia es nuestra prioridad!
        </p>

        <div class="cards-container">
            <div class="card">
                <img src="../images/grupo/FJTA.jpeg" alt="Franco Torrez" class="card-img">
                <h3>Franco Javier Torrez Alvarado</h3>
                <p>Backend developer, DBA, QA  & SCRUM Master</p>
                <p>taf6001031@est.univalle.edu</p>
                <p>Número: +591 76636677</p>
            </div>
            <div class="card">
                <img src="../images/grupo/DOFM.jpeg" alt="Diogo Franco" class="card-img">
                <h3>Diogo Osvaldo Franco Montenegro</h3>
                <p>Backend developer, DBA& Product Owner</p>
                <p>fmd6000798@est.univalle.edu</p>
                <p>Número: +591 75055452</p>
            </div>
            <div class="card">
                <img src="../images/grupo/YEHC.png" alt="Erika Hinojosa" class="card-img">
                <h3>Yannel Erika Hinojosa Cabrera</h3>
                <p>Frontend developer</p>
                <p>hcy6000567@est.univalle.edu</p>
                <p>Número: +591 60937545</p>
            </div>
            <div class="card">
                <img src="../images/grupo/MDO.png" alt="Melanie Díaz" class="card-img">
                <h3>Melanie Díaz Otero</h3>
                <p>Frontend developer</p>
                <p>dom6000193@est.univalle.edu</p>
                <p>Número: +591 77020398</p>
            </div>
            <div class="card">
                <img src="../images/grupo/MRMP.png" alt="Matías Mendoza" class="card-img">
                <h3>Matías Ricardo Mendoza Peducassé</h3>
                <p>Frontend developer</p>
                <p>mpm6001271@est.univalle.edu</p>
                <p>Número: +591 77077295</p>
            </div>
            <div class="card">
                <img src="../images/grupo/ING.jpeg" alt="Isaveth Navia" class="card-img">
                <h3>Isaveth Navia Guzmán</h3>
                <p>Documentation Designer</p>
                <p>ngi6000941@est.univalle.edu</p>
                <p>Número: +591 75035222</p>
            </div>
            <div class="card">
                <img src="../images/grupo/AOC.png" alt="Alejandro Ormachea" class="card-img">
                <h3>Alejandro Ormachea Castrillo</h3>
                <p>Documentation Designer</p>
                <p>oca6000787@est.univalle.edu</p>
                <p>Número: +591 76624444</p>
            </div>
            <div class="card">
                <img src="../images/grupo/placeholder.jpg" alt="Mauricio Martínez" class="card-img">
                <h3>Mauricio Martínez Carmona</h3>
                <p>Project Presentation Designer</p>
                <p>mcm6000906@est.univalle.edu</p>
                <p>Número: +591 75586249</p>
            </div>
            <div class="card">
                <img src="../images/grupo/placeholder.jpg" alt="Bruno Ferrufino" class="card-img">
                <h3>Bruno Ferrufino Mercado</h3>
                <p>Project Presentation Designer</p>
                <p>fmb6000615@est.univalle.edu</p>
                <p>Número: +591 65003490</p>
            </div>
            <div class="card">
                <img src="../images/grupo/placeholder.jpg" alt="Hamza Casssi" class="card-img">
                <h3>Hamza Walid Cassis Pacheco</h3>
                <p>User Guide Designer</p>
                <p>cph6001224@est.univalle.edu</p>
                <p>Número: +591 77604734</p>
            </div>
        </div>
    </div>
</body>
</html>
 